<!DOCTYPE html>
<html lang="en">

{% include head.html %}


<body class="au-grid">

    <!-- HEADER -->
    <div class="header-wrapper">
        <div class="header">
            {% include header.html %}
        </div>
    </div>
    <!-- CONTENT -->
    <div id="main-content" class="home">
    <div class="container-fluid c-wrapper"> 
        <div class="row">
            <div class="body-copy">
            <div class="">
                <h2>Mobile table prototypes</h2>
                <ul>
                    <li><a href="table-stacked.html">Table Stacked - multiple columns</a></li>
                    <li><a href="table-stacked-2.html">Table Stacked - two columns</a></li>
                    <li><a href="table-reveal.html">Table Reveal - multiple columns</a></li>
                    <li><a href="table-reveal-2.html">Table Reveal - two columns</a></li>
                </ul>
            </div>
        </div>
        </div>
    </div>



    <!-- FOOTER -->
    <div class="footer-wrapper">
        <div class="footer">
            {% include footer.html %}
        </div>
    </div>
    </div>

</body>

</html>
